@import '../../core/scss/theme-colors.scss';

::ng-deep .mat-menu-panel {
  margin-top: 7px;
}

.header {
  top: 0;
  right: 0;
  z-index: 3000;
  position: fixed;
  color: map-get($my-calendar-colors, primary-gray);
  background: map-get($my-calendar-colors, full-white);

  &__spacer {
    flex: 1 1 auto;
  }

  &__logo {
    width: auto;
    height: 30px;
    margin-left: 3px;
  }

  &__my-account {
    &-button {
      background: map-get($my-calendar-colors, dark-white);
      background-size: cover;
    }
  }
}

.header__my-account-menu--title {
  text-align: center;
  font-size: 16px;
}

@media (min-width: 960px) {
  .header .header__logo {
    margin: 0;
    height: 40px;
  }
}
