::ng-deep .mat-menu-panel {
  margin-top: 7px;
}

.header {
  color: #9091A5;
  background: #ffffff;

  &__spacer {
    flex: 1 1 auto;
  }

  &__logo {
    width: auto;
    height: 30px;
    margin-left: 3px;
  }

  &__my-account {
    &-button {
      background: #f3f3f3;
      background-size: cover;
    }
  }
}

.header__my-account-menu--title {
  text-align: center;
  font-size: 16px;
}

@media (min-width: 960px) {
  .header .header__logo {
    margin: 0;
    height: 40px;
  }
}
