
@use '@angular/material' as mat;
@include mat.core();

$my-calendar-client-primary: mat.define-palette(mat.$indigo-palette);
$my-calendar-client-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-calendar-client-warn: mat.define-palette(mat.$red-palette);
$my-calendar-client-theme: mat.define-light-theme((
  color: (
    primary: $my-calendar-client-primary,
    accent: $my-calendar-client-accent,
    warn: $my-calendar-client-warn,
  )
));

@include mat.all-component-themes($my-calendar-client-theme);
@import './app/core/scss/theme-colors.scss';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

input::-ms-reveal, input::-ms-clear {
  display: none;
}

@media (min-width: 960px) {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: map-get($my-calendar-colors, light-white);
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: map-get($my-calendar-colors, light-gray);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: map-get($my-calendar-colors, secondary-gray);
  }
}

