@import '../../core/scss/theme-colors.scss';

.navbar {
  &__icon {
    margin-bottom: 60px !important;
    cursor: pointer;
    outline: none;
  }

  &__option {
    border-radius: 12px;
    color: map-get($my-calendar-colors, primary-gray);
    transition: all .3s ease-in-out;

    &--active {
      color: map-get($my-calendar-colors, primary-blue);
      background-color: rgba($color: map-get($my-calendar-colors, primary-blue), $alpha: 0.05);
    }
  }
}


